### Twitter API

Learning how to use Twitter search API 

Goals:
1. understand how Twitter api works
2. understand how to answer high level question using Twitter data eg. What do people think when they fly?
3. scale to link Twitter data with other dataset for analysis

In [1]:
import pandas as pd

In [13]:
# test pd data frame

a_df = pd.DataFrame( {'Col_One':[1,2,3,0], 'Col_Two':[5,6,7,8]}, index=range(5,9))

In [14]:
a_df

   Col_One  Col_Two
5        1        5
6        2        6
7        3        7
8        0        8

In [16]:
a_df['Col_Three'] = [1,2,3,4]

In [17]:
a_df

   Col_One  Col_Two  Col_Three
5        1        5          1
6        2        6          2
7        3        7          3
8        0        8          4